.container
{
	display: grid;
	 grid-template-rows:100vh repeat(12,min-content);
	grid-template-columns:repeat(12,minmax(min-content,14rem));

/* 	grid-template-columns: [full-start]minmax(6rem,1fr)[center-start]repeat(10,[col-start]minmax(min-content,14rem)[col-end])[center-end]minmax(6rem,1fr)[full-end];
 */

	grid-template-areas:    " header header header header header header header header header header header header"
	                        "about about about about about about about about about about about about"
                          "why why why why why why why why why why why why"
                          "menu menu menu menu menu menu menu menu menu menu menu menu"
                          "specials specials specials specials specials specials specials specials specials specials specials specials"
                          "events events events events events events events events events events events events"
                          "book book book book book book book book book book book book"
                          "testi testi testi testi testi testi testi testi testi testi testi testi"
                          "gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery gallery"
                          "chef chef chef chef chef chef chef chef chef chef chef chef"
                          ". contact contact contact contact contact contact contact contact contact contact . "
                          "footer footer footer footer footer footer footer footer footer footer footer footer"
                          "copy copy copy copy copy copy copy copy copy copy copy copy";
}
