.specials
{
/* 	grid-row: 5/6;
	grid-column: center-start/center-end; */
	grid-area: specials;
		background: #0c0b09;
	padding: 6rem;
	color: white;
}

.tab {
  float: left;
  border-right: 3px solid var(--color-primary-dark);
  /* background-color: #f1f1f1; */
  /* width: 30%; */
  /* height: 300px; */
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: white;
  padding: 11px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: var(--color-primary);
}

/* Create an active/current "tab button" class */
.tab button.active {
  /* background-color: var(--color-primary-dark); */
  border-color: var(--color-primary-dark);
  color: white!important;
}

/* Style the tab content */
.tabcontent {
 /*  float: left; */
  padding: 0px 12px;
  /* width: 70%; */
  border-left: none;
  /* height: 300px; */
}
.specials-tab
{
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.vertical-heading
{
	font-size: 2.6rem;
}
.vertical-para1
{
	font-size: 1.6rem;
	font-style: italic;
	margin-bottom: 1rem;
	color: #aaaaaa;
}
.vertical-para2
{
	font-size: 1.6rem;
	color: #aaaaaa;
}
.vertical-img
{
	max-width: 70%;
	height: auto;
}
 .vertical-tab-content
{
	display: flex;
} 
#defaultOpen
{
	background-color: var(--color-primary-dark);
	color: black;
}

[class^='imghvr-'],
[class*=' imghvr-'] {
  background-color: transparent;
  border-radius: 50%;
}
